<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Таск-трекер</title>
</head>

<body>
    <h1>Форма добавления задачи</h1>

    <form action="#" th:action="@{/tasks/add}" th:object="${task}" method="post">
        <input type="text" th:field="*{owner}" placeholder="Введите имя создателя"/><br/>
        <input type="text" th:field="*{executer}" placeholder="Введите имя исполнителя"/><br/>
        <input type="text" th:field="*{name}" placeholder="Введите название задачи"/><br/>
        <textarea th:field="*{summary}" placeholder="Введите описание задачи"/><br/>
        <select th:name="status">
            <option th:each="status : ${T(erth.task_tracker.enums.Status).values()}"
                    th:text="${status.rus}"
                    th:value="${status}"/>
        </select><br/><br/>
        <button type="submit">Создать</button>
    </form>
    <br>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>